footer {
    margin-top: 85px;

    .footer-inner {
        display: flex;
        flex-direction: column;

        @include large-devices {
            flex-direction: row;
            justify-content: space-around;

        }

        .footer-item {
            text-align: center;

            ul {

                margin: 10px auto;
    
                @include large-devices {
                    margin: auto;
                }
    
            }
    
            li {
                margin: 5px;
    
                @include large-devices {
                    margin: 10px;
                }

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .copyright {
        background-color: #233148;
        color: #fff;

        .copy-inner {
            display: flex;
            flex-direction: column;
            text-align: center;

            @include large-devices {
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
            }

            .copy-left {
                margin-bottom: 15px;

                @include large-devices {
                    margin: initial;
                }
            }

            .copy-right {
                img {
                    margin: 0 10px;
                    cursor: pointer;
                }
            }
        }
    }
}